@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: #E5E6F0;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: Roboto, sans-serif;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

aside {
  width: 320px;
  background-color: #FFF;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 20px;
}

aside button {
  width: 100%;
  border: 0;
  background-color: #612F74;
  border-radius: 2px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
  transition: background 0.5s;
}
aside button:hover{
  opacity: 0.9;
}

main {
  flex: 1;
  margin-left: 20px;
}

main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style: none;
}

main ul li {
  background-color: #FFF;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main ul li strong {
  display: block;
  font-size: 16px;
  color: #333;
}

main ul li button {
  border: 0;
  background-color: #612F74;
  border-radius: 2px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
  transition: background 0.5s;
}
main ul li button:hover{
  opacity: 0.9;
}
